@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("./css/components/pop-up.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background: #4b79a1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283e51, #4b79a1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.CV {
  width: 800px;
  background-color: #fff;
  margin: 25px auto;
  display: flex;
}

/* Left Side */

.leftside {
  background-color: #050f2c;
  width: 250px;
  padding: 0 20px;
}

.rightside {
  width: calc(100%-250px);
}

.leftside .avatar {
  text-align: center;
  padding: 20px 0;
}

.leftside .avatar img {
  width: 200px;
  border-radius: 30px;
}

.paddingbottom {
  padding-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #007cc0;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}

.title:before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: #007cc0;
}

.leftside .icon {
  font-size: 20px;
  color: #0c3866;
}

.leftside .text {
  color: #0c3866;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.contact .li_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  transition: 0.5s;
}

.contact .li_wrap .icon {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact .li_wrap .text {
  width: calc(100% - 50px);
  word-break: break-word;
  color: #fff;
  text-transform: none;
}

.skills ul,
.hobbies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.skills .li_wrap {
  background-color: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text {
  margin-top: 5px;
}

.hobbies .li_wrap {
  border: 2px solid #fff;
  transition: 0.5s;
}

.hobbies .li_wrap .text,
.hobbies .li_wrap .icon {
  color: #fff;
}

.hobbies .li_wrap:hover {
  background-color: #fff;
  cursor: pointer;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
  color: #0c3866;
  font-weight: 700;
}

/* Right Side */
.right_inner {
  padding: 30px;
}
.header {
  background-color: #050f2c;
  padding: 15px 30px;
  color: #fff;
  height: 240px;
  position: relative;
}

.header .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #007cc0;
}

.header .role {
  font-weight: 300;
  font-size: 20px;
}

.header .about {
  margin-top: 20px;
  line-height: 26px;
}

.right_inner .education {
  margin-top: 30px;
}

.right_inner .li_wrap {
  display: flex;
  margin-bottom: 15px;
}

.right_inner .li_wrap .date {
  min-width: 125px;
  color: #0c3866;
}

.right_inner .li_wrap .info {
  width: calc(100%-125px);
  color: #0c3866;
  padding-left: 25px;
  position: relative;
}

.right_inner .li_wrap .info_title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #0c3866;
}

.right_inner .li_wrap .info_com {
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
  color: black;
}

.right_inner .li_wrap .info_content {
  margin-top: 15px;
  color: black;
}

/* Create a dot  */
.right_inner .li_wrap .info::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #0c3866;
  border-radius: 50%;
}

/* Create a line  */
.right_inner .li_wrap .info::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background-color: #0c3866;
}

/* change language button */

.language_btn_wrap {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  background-color: #007cc0;
  top: 30px;
  right: 60px;
  z-index: 999999;
  cursor: pointer;
}

.language_btn_wrap .eng {
  position: relative;
  right: 25px;
  bottom: 20px;
}

.language_btn_wrap .vie {
  position: relative;
  right: -43px;
  bottom: 37px;
}

.language_btn_wrap .controller {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.vie_mode {
  transform: translateX(100%);
}

.download_btn {
  position: fixed;
  border-radius: 50%;
  bottom: 75px;
  right: 75px;
  transform: translate(50%, 50%);
  width: 75px;
  height: 75px;
  background-color: #050f2c;
  color: white;
  font-weight: bold;
  animation: glow 1s ease-in-out infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.download_btn p {
  text-align: center;
  font-size: small;
  margin-top: 4px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #050f2c, 0 0 15px #050f2c,
      0 0 20px #050f2c, 0 0 25px #050f2c;
  }

  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #0c3866, 0 0 20px #0c3866,
      0 0 25px #0c3866, 0 0 30px #0c3866, 0 0 35px #0c3866, 0 0 40px #0c3866;
  }
}
